*.o
tags
gadget-analysis
test/
*.png
*data*
__pycache__/
*pyc
*pdf
*.dat
bin/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
allvars.c
add_params.h
protos.h
bak/
gadget-analysis-config.h
compile-time-info.c
*.in
*log
*.bak
